<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.link.ResourceMapper">
	<select id="selectByCodeAndName" resultType="persistence.entity.Resource">
		SELECT 
			*
		FROM resource
		<where>
			<if test="originId != null">
				originId = #{originId}
			</if>
			<if test="resourceName != null">
				and resourceName = #{resourceName}
			</if>
			
		</where>
	</select>
	
	<insert id="insert">
		insert into resource
		(
			originId,
			resourceType,
			originalLocation,
			resourceName,
			createDate,
			modifyDate,
			url
			
		)
		values
		(
			#{originId},
			#{resourceType},
			#{originalLocation},
			#{resourceName},
			#{createDate},
			#{modifyDate},
			#{url}
			
		)
	</insert>
	
	<insert id="insertWhetherDuplicate">
		insert into resource
		(
			originId,
			resourceType,
			originalLocation,
			resourceName,
			createDate,
			modifyDate,
			url
		)
		values
		(
			#{originId},
			#{resourceType},
			#{originalLocation},
			#{resourceName},
			#{createDate},
			#{modifyDate},
			#{url}
			
		)
		on duplicate key update
		modifyDate = #{modifyDate}
	</insert>
</mapper>